<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>AEacute</key>
  <string>A_E_acute.glif</string>
  <key>AEmacron</key>
  <string>A_E_macron.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Abreve</key>
  <string>A_breve.glif</string>
  <key>Acaron</key>
  <string>A_caron.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Amacron</key>
  <string>A_macron.glif</string>
  <key>Amacron_acutecomb</key>
  <string>A_macron_acutecomb.glif</string>
  <key>Amacron_brevecomb</key>
  <string>A_macron_brevecomb.glif</string>
  <key>Amacron_gravecomb</key>
  <string>A_macron_gravecomb.glif</string>
  <key>Amacron_tildecomb</key>
  <string>A_macron_tildecomb.glif</string>
  <key>Aogonek</key>
  <string>A_ogonek.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Aringacute</key>
  <string>A_ringacute.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>Atilde_acutecomb</key>
  <string>A_tilde_acutecomb.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>BASE</key>
  <string>B_A_S_E_.glif</string>
  <key>B_dieresisbelowcomb</key>
  <string>B__dieresisbelowcomb.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>Cacute</key>
  <string>C_acute.glif</string>
  <key>Ccaron</key>
  <string>C_caron.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>Ccircumflex</key>
  <string>C_circumflex.glif</string>
  <key>Cdotaccent</key>
  <string>C_dotaccent.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>D_dieresisbelowcomb</key>
  <string>D__dieresisbelowcomb.glif</string>
  <key>Dcaron</key>
  <string>D_caron.glif</string>
  <key>Dcroat</key>
  <string>D_croat.glif</string>
  <key>Ddotbelow</key>
  <string>D_dotbelow.glif</string>
  <key>Dlinebelow</key>
  <string>D_linebelow.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ebreve</key>
  <string>E_breve.glif</string>
  <key>Ecaron</key>
  <string>E_caron.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Edotaccent</key>
  <string>E_dotaccent.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Emacron</key>
  <string>E_macron.glif</string>
  <key>Emacron_brevecomb</key>
  <string>E_macron_brevecomb.glif</string>
  <key>Emacronacute</key>
  <string>E_macronacute.glif</string>
  <key>Eng</key>
  <string>E_ng.glif</string>
  <key>Eogonek</key>
  <string>E_ogonek.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Etilde</key>
  <string>E_tilde.glif</string>
  <key>Etilde_acutecomb</key>
  <string>E_tilde_acutecomb.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>G_dieresisbelowcomb</key>
  <string>G__dieresisbelowcomb.glif</string>
  <key>G_dotbelowcomb</key>
  <string>G__dotbelowcomb.glif</string>
  <key>G_macronbelowcomb</key>
  <string>G__macronbelowcomb.glif</string>
  <key>G_macronbelowcomb_H_macronbelowcomb</key>
  <string>G__macronbelowcomb_H__macronbelowcomb.glif</string>
  <key>Gbreve</key>
  <string>G_breve.glif</string>
  <key>Gcircumflex</key>
  <string>G_circumflex.glif</string>
  <key>Gcommaaccent</key>
  <string>G_commaaccent.glif</string>
  <key>Gdotaccent</key>
  <string>G_dotaccent.glif</string>
  <key>Germandbls</key>
  <string>G_ermandbls.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>H_dieresisbelowcomb</key>
  <string>H__dieresisbelowcomb.glif</string>
  <key>H_macronbelowcomb</key>
  <string>H__macronbelowcomb.glif</string>
  <key>Hbar</key>
  <string>H_bar.glif</string>
  <key>Hcircumflex</key>
  <string>H_circumflex.glif</string>
  <key>Hdotbelow</key>
  <string>H_dotbelow.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>IJ</key>
  <string>I_J_.glif</string>
  <key>IJ_acutecomb</key>
  <string>I_J__acutecomb.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Ibreve</key>
  <string>I_breve.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Idotaccent</key>
  <string>I_dotaccent.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>Imacron</key>
  <string>I_macron.glif</string>
  <key>Imacron_acutecomb</key>
  <string>I_macron_acutecomb.glif</string>
  <key>Imacron_brevecomb</key>
  <string>I_macron_brevecomb.glif</string>
  <key>Imacron_gravecomb</key>
  <string>I_macron_gravecomb.glif</string>
  <key>Imacron_tildecomb</key>
  <string>I_macron_tildecomb.glif</string>
  <key>Iogonek</key>
  <string>I_ogonek.glif</string>
  <key>Itilde</key>
  <string>I_tilde.glif</string>
  <key>Itilde_acutecomb</key>
  <string>I_tilde_acutecomb.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>J_dieresisbelowcomb</key>
  <string>J__dieresisbelowcomb.glif</string>
  <key>J_macroncomb</key>
  <string>J__macroncomb.glif</string>
  <key>Jcircumflex</key>
  <string>J_circumflex.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>Kcommaaccent</key>
  <string>K_commaaccent.glif</string>
  <key>Kdotbelow</key>
  <string>K_dotbelow.glif</string>
  <key>Klinebelow</key>
  <string>K_linebelow.glif</string>
  <key>Klinebelow_H_macronbelowcomb</key>
  <string>K_linebelow_H__macronbelowcomb.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>L_dieresisbelowcomb</key>
  <string>L__dieresisbelowcomb.glif</string>
  <key>L_ringbelowcomb</key>
  <string>L__ringbelowcomb.glif</string>
  <key>L_ringbelowcomb_acutecomb</key>
  <string>L__ringbelowcomb_acutecomb.glif</string>
  <key>L_ringbelowcomb_macroncomb</key>
  <string>L__ringbelowcomb_macroncomb.glif</string>
  <key>L_ringbelowcomb_macroncomb_acutecomb</key>
  <string>L__ringbelowcomb_macroncomb_acutecomb.glif</string>
  <key>L_tildecomb</key>
  <string>L__tildecomb.glif</string>
  <key>Lacute</key>
  <string>L_acute.glif</string>
  <key>Lcaron</key>
  <string>L_caron.glif</string>
  <key>Lcommaaccent</key>
  <string>L_commaaccent.glif</string>
  <key>Ldot</key>
  <string>L_dot.glif</string>
  <key>Ldotbelow</key>
  <string>L_dotbelow.glif</string>
  <key>Ldotbelow_acutecomb</key>
  <string>L_dotbelow_acutecomb.glif</string>
  <key>Ldotbelowmacron</key>
  <string>L_dotbelowmacron.glif</string>
  <key>Ldotbelowmacron_acutecomb</key>
  <string>L_dotbelowmacron_acutecomb.glif</string>
  <key>Lmacronbelow</key>
  <string>L_macronbelow.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>M_brevecomb</key>
  <string>M__brevecomb.glif</string>
  <key>M_candrabinducomb</key>
  <string>M__candrabinducomb.glif</string>
  <key>Mdotaccent</key>
  <string>M_dotaccent.glif</string>
  <key>Mdotbelow</key>
  <string>M_dotbelow.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>NBSPnarrow</key>
  <string>N_B_S_P_narrow.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>N_brevecomb</key>
  <string>N__brevecomb.glif</string>
  <key>N_candrabinducomb</key>
  <string>N__candrabinducomb.glif</string>
  <key>Nacute</key>
  <string>N_acute.glif</string>
  <key>Ncaron</key>
  <string>N_caron.glif</string>
  <key>Ncommaaccent</key>
  <string>N_commaaccent.glif</string>
  <key>Ndotaccent</key>
  <string>N_dotaccent.glif</string>
  <key>Ndotbelow</key>
  <string>N_dotbelow.glif</string>
  <key>Nmacronbelow</key>
  <string>N_macronbelow.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Obreve</key>
  <string>O_breve.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Ohungarumlaut</key>
  <string>O_hungarumlaut.glif</string>
  <key>Omacron</key>
  <string>O_macron.glif</string>
  <key>Omacron_brevecomb</key>
  <string>O_macron_brevecomb.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Oslashacute</key>
  <string>O_slashacute.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>Otildeacute</key>
  <string>O_tildeacute.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>R_brevecomb</key>
  <string>R__brevecomb.glif</string>
  <key>R_dieresisbelowcomb</key>
  <string>R__dieresisbelowcomb.glif</string>
  <key>R_ringbelowcomb</key>
  <string>R__ringbelowcomb.glif</string>
  <key>R_ringbelowcomb_acutecomb</key>
  <string>R__ringbelowcomb_acutecomb.glif</string>
  <key>R_ringbelowcomb_gravecomb</key>
  <string>R__ringbelowcomb_gravecomb.glif</string>
  <key>R_ringbelowcomb_macroncomb</key>
  <string>R__ringbelowcomb_macroncomb.glif</string>
  <key>R_ringbelowcomb_macroncomb_acutecomb</key>
  <string>R__ringbelowcomb_macroncomb_acutecomb.glif</string>
  <key>Racute</key>
  <string>R_acute.glif</string>
  <key>Rcaron</key>
  <string>R_caron.glif</string>
  <key>Rcommaaccent</key>
  <string>R_commaaccent.glif</string>
  <key>Rdotaccent</key>
  <string>R_dotaccent.glif</string>
  <key>Rdotbelow</key>
  <string>R_dotbelow.glif</string>
  <key>Rdotbelow_acutecomb</key>
  <string>R_dotbelow_acutecomb.glif</string>
  <key>Rdotbelow_gravecomb</key>
  <string>R_dotbelow_gravecomb.glif</string>
  <key>Rdotbelowmacron</key>
  <string>R_dotbelowmacron.glif</string>
  <key>Rdotbelowmacron_acutecomb</key>
  <string>R_dotbelowmacron_acutecomb.glif</string>
  <key>Rmacronbelow</key>
  <string>R_macronbelow.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>S_dieresisbelowcomb</key>
  <string>S__dieresisbelowcomb.glif</string>
  <key>S_macronbelowcomb</key>
  <string>S__macronbelowcomb.glif</string>
  <key>Sacute</key>
  <string>S_acute.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>Scedilla</key>
  <string>S_cedilla.glif</string>
  <key>Scircumflex</key>
  <string>S_circumflex.glif</string>
  <key>Scommaaccent</key>
  <string>S_commaaccent.glif</string>
  <key>Sdotbelow</key>
  <string>S_dotbelow.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>T_dieresisbelowcomb</key>
  <string>T__dieresisbelowcomb.glif</string>
  <key>Tbar</key>
  <string>T_bar.glif</string>
  <key>Tcaron</key>
  <string>T_caron.glif</string>
  <key>Tcedilla</key>
  <string>T_cedilla.glif</string>
  <key>Tcommaaccent</key>
  <string>T_commaaccent.glif</string>
  <key>Tdotbelow</key>
  <string>T_dotbelow.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>Tlinebelow</key>
  <string>T_linebelow.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ubreve</key>
  <string>U_breve.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>Uhungarumlaut</key>
  <string>U_hungarumlaut.glif</string>
  <key>Umacron</key>
  <string>U_macron.glif</string>
  <key>Umacron_acutecomb</key>
  <string>U_macron_acutecomb.glif</string>
  <key>Umacron_brevecomb</key>
  <string>U_macron_brevecomb.glif</string>
  <key>Umacron_gravecomb</key>
  <string>U_macron_gravecomb.glif</string>
  <key>Umacron_tildecomb</key>
  <string>U_macron_tildecomb.glif</string>
  <key>Uogonek</key>
  <string>U_ogonek.glif</string>
  <key>Uring</key>
  <string>U_ring.glif</string>
  <key>Utilde</key>
  <string>U_tilde.glif</string>
  <key>Utildeacute</key>
  <string>U_tildeacute.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>Wacute</key>
  <string>W_acute.glif</string>
  <key>Wcircumflex</key>
  <string>W_circumflex.glif</string>
  <key>Wdieresis</key>
  <string>W_dieresis.glif</string>
  <key>Wgrave</key>
  <string>W_grave.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ycircumflex</key>
  <string>Y_circumflex.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Ydotaccent</key>
  <string>Y_dotaccent.glif</string>
  <key>Ygrave</key>
  <string>Y_grave.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>ZWJ</key>
  <string>Z_W_J_.glif</string>
  <key>ZWNJ</key>
  <string>Z_W_N_J_.glif</string>
  <key>ZWS</key>
  <string>Z_W_S_.glif</string>
  <key>Z_dieresisbelowcomb</key>
  <string>Z__dieresisbelowcomb.glif</string>
  <key>Zacute</key>
  <string>Z_acute.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>Zdotaccent</key>
  <string>Z_dotaccent.glif</string>
  <key>Zdotbelow</key>
  <string>Z_dotbelow.glif</string>
  <key>Zlinebelow</key>
  <string>Z_linebelow.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brevebelowcomb</key>
  <string>brevebelowcomb.glif</string>
  <key>brevecomb</key>
  <string>brevecomb.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>candrabinducomb</key>
  <string>candrabinducomb.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>caroncomb</key>
  <string>caroncomb.glif</string>
  <key>caronslovakcomb</key>
  <string>caronslovakcomb.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cedillacomb</key>
  <string>cedillacomb.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>circumflexcomb</key>
  <string>circumflexcomb.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>commaaccentcomb</key>
  <string>commaaccentcomb.glif</string>
  <key>commaaccentturnedabovecomb</key>
  <string>commaaccentturnedabovecomb.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresisbelowcomb</key>
  <string>dieresisbelowcomb.glif</string>
  <key>dieresiscomb</key>
  <string>dieresiscomb.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotaccentcomb</key>
  <string>dotaccentcomb.glif</string>
  <key>dotbelowcomb</key>
  <string>dotbelowcomb.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight.dnom</key>
  <string>eight.dnom.glif</string>
  <key>eight.numr</key>
  <string>eight.numr.glif</string>
  <key>eightinferior</key>
  <string>eightinferior.glif</string>
  <key>eightsuperior</key>
  <string>eightsuperior.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emquad</key>
  <string>emquad.glif</string>
  <key>emspace</key>
  <string>emspace.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>enquad</key>
  <string>enquad.glif</string>
  <key>enspace</key>
  <string>enspace.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>figurespace</key>
  <string>figurespace.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.dnom</key>
  <string>five.dnom.glif</string>
  <key>five.numr</key>
  <string>five.numr.glif</string>
  <key>fiveinferior</key>
  <string>fiveinferior.glif</string>
  <key>fivesuperior</key>
  <string>fivesuperior.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.dnom</key>
  <string>four.dnom.glif</string>
  <key>four.numr</key>
  <string>four.numr.glif</string>
  <key>fourinferior</key>
  <string>fourinferior.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>fractionslash</key>
  <string>fractionslash.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>hairspace</key>
  <string>hairspace.glif</string>
  <key>halfringleft</key>
  <string>halfringleft.glif</string>
  <key>halfringright</key>
  <string>halfringright.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hungarumlautcomb</key>
  <string>hungarumlautcomb.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>macronbelowcomb</key>
  <string>macronbelowcomb.glif</string>
  <key>macroncomb</key>
  <string>macroncomb.glif</string>
  <key>macrondblbelowcomb</key>
  <string>macrondblbelowcomb.glif</string>
  <key>magicglyph</key>
  <string>magicglyph.glif</string>
  <key>mathspacemedium</key>
  <string>mathspacemedium.glif</string>
  <key>micro</key>
  <string>micro.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>minute</key>
  <string>minute.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine.dnom</key>
  <string>nine.dnom.glif</string>
  <key>nine.numr</key>
  <string>nine.numr.glif</string>
  <key>nineinferior</key>
  <string>nineinferior.glif</string>
  <key>ninesuperior</key>
  <string>ninesuperior.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ogonekcomb</key>
  <string>ogonekcomb.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.dnom</key>
  <string>one.dnom.glif</string>
  <key>one.numr</key>
  <string>one.numr.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>oneinferior</key>
  <string>oneinferior.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>punctuationspace</key>
  <string>punctuationspace.glif</string>
  <key>quarteremspace</key>
  <string>quarteremspace.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblleftreversed</key>
  <string>quotedblleftreversed.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quotereversed</key>
  <string>quotereversed.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>ringbelowcomb</key>
  <string>ringbelowcomb.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>rupee</key>
  <string>rupee.glif</string>
  <key>rupees</key>
  <string>rupees.glif</string>
  <key>second</key>
  <string>second.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven.dnom</key>
  <string>seven.dnom.glif</string>
  <key>seven.numr</key>
  <string>seven.numr.glif</string>
  <key>seveninferior</key>
  <string>seveninferior.glif</string>
  <key>sevensuperior</key>
  <string>sevensuperior.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six.dnom</key>
  <string>six.dnom.glif</string>
  <key>six.numr</key>
  <string>six.numr.glif</string>
  <key>sixinferior</key>
  <string>sixinferior.glif</string>
  <key>sixsuperior</key>
  <string>sixsuperior.glif</string>
  <key>sixthemspace</key>
  <string>sixthemspace.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>thinspace</key>
  <string>thinspace.glif</string>
  <key>thirdemspace</key>
  <string>thirdemspace.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.dnom</key>
  <string>three.dnom.glif</string>
  <key>three.numr</key>
  <string>three.numr.glif</string>
  <key>threeinferior</key>
  <string>threeinferior.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two.dnom</key>
  <string>two.dnom.glif</string>
  <key>two.numr</key>
  <string>two.numr.glif</string>
  <key>twoinferior</key>
  <string>twoinferior.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.dnom</key>
  <string>zero.dnom.glif</string>
  <key>zero.numr</key>
  <string>zero.numr.glif</string>
  <key>zeroinferior</key>
  <string>zeroinferior.glif</string>
  <key>zerosuperior</key>
  <string>zerosuperior.glif</string>
</dict>
</plist>
