<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>latn.caps_asc</key>
  <array>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Atilde_acutecomb</string>
    <string>Adieresis</string>
    <string>Amacron</string>
    <string>Amacron_gravecomb</string>
    <string>Amacron_acutecomb</string>
    <string>Amacron_tildecomb</string>
    <string>Amacron_brevecomb</string>
    <string>Abreve</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Aogonek</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>AEmacron</string>
    <string>B_dieresisbelowcomb</string>
    <string>Cacute</string>
    <string>Ccircumflex</string>
    <string>Ccaron</string>
    <string>Cdotaccent</string>
    <string>Ccedilla</string>
    <string>Dcaron</string>
    <string>Ddotbelow</string>
    <string>D_dieresisbelowcomb</string>
    <string>Dlinebelow</string>
    <string>Dcroat</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Ecaron</string>
    <string>Etilde</string>
    <string>Etilde_acutecomb</string>
    <string>Edieresis</string>
    <string>Emacron</string>
    <string>Emacronacute</string>
    <string>Emacron_brevecomb</string>
    <string>Ebreve</string>
    <string>Edotaccent</string>
    <string>Eogonek</string>
    <string>Gcircumflex</string>
    <string>Gbreve</string>
    <string>Gdotaccent</string>
    <string>Gcommaaccent</string>
    <string>G_dotbelowcomb</string>
    <string>G_dieresisbelowcomb</string>
    <string>G_macronbelowcomb</string>
    <string>Hcircumflex</string>
    <string>Hdotbelow</string>
    <string>H_dieresisbelowcomb</string>
    <string>H_macronbelowcomb</string>
    <string>Hbar</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Itilde</string>
    <string>Itilde_acutecomb</string>
    <string>Idieresis</string>
    <string>Imacron</string>
    <string>Imacron_gravecomb</string>
    <string>Imacron_acutecomb</string>
    <string>Imacron_tildecomb</string>
    <string>Imacron_brevecomb</string>
    <string>Ibreve</string>
    <string>Idotaccent</string>
    <string>Iogonek</string>
    <string>Jcircumflex</string>
    <string>J_macroncomb</string>
    <string>J_dieresisbelowcomb</string>
    <string>Kcommaaccent</string>
    <string>Kdotbelow</string>
    <string>Klinebelow</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>L_tildecomb</string>
    <string>Lcommaaccent</string>
    <string>Lmacronbelow</string>
    <string>Ldotbelow</string>
    <string>Ldotbelow_acutecomb</string>
    <string>Ldotbelowmacron</string>
    <string>Ldotbelowmacron_acutecomb</string>
    <string>L_dieresisbelowcomb</string>
    <string>L_ringbelowcomb</string>
    <string>L_ringbelowcomb_acutecomb</string>
    <string>L_ringbelowcomb_macroncomb</string>
    <string>L_ringbelowcomb_macroncomb_acutecomb</string>
    <string>Lslash</string>
    <string>Ldot</string>
    <string>M_brevecomb</string>
    <string>Mdotaccent</string>
    <string>M_candrabinducomb</string>
    <string>Mdotbelow</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>N_brevecomb</string>
    <string>Ndotaccent</string>
    <string>N_candrabinducomb</string>
    <string>Nmacronbelow</string>
    <string>Ndotbelow</string>
    <string>Ncommaaccent</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Otildeacute</string>
    <string>Odieresis</string>
    <string>Omacron</string>
    <string>Omacron_brevecomb</string>
    <string>Obreve</string>
    <string>Ohungarumlaut</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>OE</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>R_brevecomb</string>
    <string>Rdotaccent</string>
    <string>Rcommaaccent</string>
    <string>Rmacronbelow</string>
    <string>Rdotbelow</string>
    <string>Rdotbelow_gravecomb</string>
    <string>Rdotbelow_acutecomb</string>
    <string>Rdotbelowmacron</string>
    <string>Rdotbelowmacron_acutecomb</string>
    <string>R_dieresisbelowcomb</string>
    <string>R_ringbelowcomb</string>
    <string>R_ringbelowcomb_gravecomb</string>
    <string>R_ringbelowcomb_acutecomb</string>
    <string>R_ringbelowcomb_macroncomb</string>
    <string>R_ringbelowcomb_macroncomb_acutecomb</string>
    <string>Sacute</string>
    <string>Scircumflex</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scommaaccent</string>
    <string>Sdotbelow</string>
    <string>S_dieresisbelowcomb</string>
    <string>S_macronbelowcomb</string>
    <string>Germandbls</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
    <string>Tdotbelow</string>
    <string>T_dieresisbelowcomb</string>
    <string>Tlinebelow</string>
    <string>Tbar</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Utilde</string>
    <string>Utildeacute</string>
    <string>Udieresis</string>
    <string>Umacron</string>
    <string>Umacron_gravecomb</string>
    <string>Umacron_acutecomb</string>
    <string>Umacron_tildecomb</string>
    <string>Umacron_brevecomb</string>
    <string>Ubreve</string>
    <string>Uring</string>
    <string>Uhungarumlaut</string>
    <string>Uogonek</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Ygrave</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ydotaccent</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Zdotbelow</string>
    <string>Z_dieresisbelowcomb</string>
    <string>Zlinebelow</string>
    <string>Eng</string>
    <string>Eth</string>
    <string>Thorn</string>
    <string>IJ</string>
    <string>IJ_acutecomb</string>
    <string>G_macronbelowcomb_H_macronbelowcomb</string>
    <string>Klinebelow_H_macronbelowcomb</string>
  </array>
  <key>numerals.dnom</key>
  <array>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
  </array>
  <key>public.kern1._L_subs_BOTH</key>
  <array>
    <string>eightinferior</string>
    <string>fiveinferior</string>
    <string>fourinferior</string>
    <string>nineinferior</string>
    <string>oneinferior</string>
    <string>seveninferior</string>
    <string>sixinferior</string>
    <string>threeinferior</string>
    <string>twoinferior</string>
    <string>zeroinferior</string>
  </array>
  <key>public.kern1._L_uc_A_1ST</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Amacron_acutecomb</string>
    <string>Amacron_brevecomb</string>
    <string>Amacron_gravecomb</string>
    <string>Amacron_tildecomb</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
    <string>Atilde_acutecomb</string>
  </array>
  <key>public.kern1._L_uc_B_1ST</key>
  <array>
    <string>B</string>
    <string>B_dieresisbelowcomb</string>
  </array>
  <key>public.kern1._L_uc_C_1ST</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
  </array>
  <key>public.kern1._L_uc_E_1ST</key>
  <array>
    <string>AE</string>
    <string>AEmacron</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Emacron_brevecomb</string>
    <string>Emacronacute</string>
    <string>Eogonek</string>
    <string>Etilde</string>
    <string>Etilde_acutecomb</string>
    <string>OE</string>
  </array>
  <key>public.kern1._L_uc_F_1ST</key>
  <array>
    <string>F</string>
  </array>
  <key>public.kern1._L_uc_G_1ST</key>
  <array>
    <string>G</string>
    <string>G_dieresisbelowcomb</string>
    <string>G_dotbelowcomb</string>
    <string>G_macronbelowcomb</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
  </array>
  <key>public.kern1._L_uc_J_1ST</key>
  <array>
    <string>J</string>
    <string>J_dieresisbelowcomb</string>
    <string>J_macroncomb</string>
    <string>Jcircumflex</string>
  </array>
  <key>public.kern1._L_uc_K_1ST</key>
  <array>
    <string>K</string>
    <string>Kcommaaccent</string>
    <string>Kdotbelow</string>
    <string>Klinebelow</string>
  </array>
  <key>public.kern1._L_uc_L_1ST</key>
  <array>
    <string>L</string>
    <string>L_dieresisbelowcomb</string>
    <string>L_ringbelowcomb</string>
    <string>L_ringbelowcomb_acutecomb</string>
    <string>L_ringbelowcomb_macroncomb</string>
    <string>L_ringbelowcomb_macroncomb_acutecomb</string>
    <string>L_tildecomb</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Ldotbelow</string>
    <string>Ldotbelow_acutecomb</string>
    <string>Ldotbelowmacron</string>
    <string>Ldotbelowmacron_acutecomb</string>
    <string>Lmacronbelow</string>
    <string>Lslash</string>
  </array>
  <key>public.kern1._L_uc_N_1ST</key>
  <array>
    <string>Eng</string>
    <string>N</string>
    <string>N_brevecomb</string>
    <string>N_candrabinducomb</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ndotaccent</string>
    <string>Ndotbelow</string>
    <string>Nmacronbelow</string>
    <string>Ntilde</string>
  </array>
  <key>public.kern1._L_uc_O_1ST</key>
  <array>
    <string>D</string>
    <string>D_dieresisbelowcomb</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Ddotbelow</string>
    <string>Dlinebelow</string>
    <string>Eth</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omacron_brevecomb</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>Q</string>
  </array>
  <key>public.kern1._L_uc_P_1ST</key>
  <array>
    <string>P</string>
  </array>
  <key>public.kern1._L_uc_R_1ST</key>
  <array>
    <string>R</string>
    <string>R_brevecomb</string>
    <string>R_dieresisbelowcomb</string>
    <string>R_ringbelowcomb</string>
    <string>R_ringbelowcomb_acutecomb</string>
    <string>R_ringbelowcomb_gravecomb</string>
    <string>R_ringbelowcomb_macroncomb</string>
    <string>R_ringbelowcomb_macroncomb_acutecomb</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>Rdotaccent</string>
    <string>Rdotbelow</string>
    <string>Rdotbelow_acutecomb</string>
    <string>Rdotbelow_gravecomb</string>
    <string>Rdotbelowmacron</string>
    <string>Rdotbelowmacron_acutecomb</string>
    <string>Rmacronbelow</string>
  </array>
  <key>public.kern1._L_uc_S_1ST</key>
  <array>
    <string>S</string>
    <string>S_dieresisbelowcomb</string>
    <string>S_macronbelowcomb</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
    <string>Sdotbelow</string>
  </array>
  <key>public.kern1._L_uc_T_1ST</key>
  <array>
    <string>T</string>
    <string>T_dieresisbelowcomb</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
    <string>Tdotbelow</string>
    <string>Tlinebelow</string>
  </array>
  <key>public.kern1._L_uc_Thorn_1ST</key>
  <array>
    <string>Thorn</string>
  </array>
  <key>public.kern1._L_uc_U_1ST</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Umacron_acutecomb</string>
    <string>Umacron_brevecomb</string>
    <string>Umacron_gravecomb</string>
    <string>Umacron_tildecomb</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
  </array>
  <key>public.kern1._L_uc_V_1ST</key>
  <array>
    <string>V</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern1._L_uc_X_1ST</key>
  <array>
    <string>X</string>
  </array>
  <key>public.kern1._L_uc_Y_1ST</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ydotaccent</string>
    <string>Ygrave</string>
  </array>
  <key>public.kern1._L_uc_Z_1ST</key>
  <array>
    <string>Z</string>
    <string>Z_dieresisbelowcomb</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Zdotbelow</string>
    <string>Zlinebelow</string>
  </array>
  <key>public.kern1._punc_guillemotleft_1ST</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern1._punc_guillemotright_1ST</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern1._punc_hyphen_1ST</key>
  <array>
    <string>emdash</string>
    <string>endash</string>
    <string>hyphen</string>
  </array>
  <key>public.kern1._punc_parenleft_1ST</key>
  <array>
    <string>braceleft</string>
    <string>bracketleft</string>
    <string>parenleft</string>
  </array>
  <key>public.kern1._punc_period_1ST</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
  </array>
  <key>public.kern1._punc_quotebase_1ST</key>
  <array>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern1._punc_quoteleft_1ST</key>
  <array>
    <string>halfringleft</string>
    <string>quotedblleft</string>
    <string>quotedblleftreversed</string>
    <string>quoteleft</string>
    <string>quotereversed</string>
  </array>
  <key>public.kern1._punc_quoteright_1ST</key>
  <array>
    <string>halfringright</string>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2._L_subs_BOTH</key>
  <array>
    <string>eightinferior</string>
    <string>fiveinferior</string>
    <string>fourinferior</string>
    <string>nineinferior</string>
    <string>oneinferior</string>
    <string>seveninferior</string>
    <string>sixinferior</string>
    <string>threeinferior</string>
    <string>twoinferior</string>
    <string>zeroinferior</string>
  </array>
  <key>public.kern2._L_sups_2ND</key>
  <array>
    <string>eightsuperior</string>
    <string>fivesuperior</string>
    <string>foursuperior</string>
    <string>ninesuperior</string>
    <string>onesuperior</string>
    <string>sevensuperior</string>
    <string>sixsuperior</string>
    <string>threesuperior</string>
    <string>twosuperior</string>
    <string>zerosuperior</string>
  </array>
  <key>public.kern2._L_uc_A_2ND</key>
  <array>
    <string>A</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>AEmacron</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Amacron_acutecomb</string>
    <string>Amacron_brevecomb</string>
    <string>Amacron_gravecomb</string>
    <string>Amacron_tildecomb</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
    <string>Atilde_acutecomb</string>
  </array>
  <key>public.kern2._L_uc_J_2ND</key>
  <array>
    <string>J</string>
    <string>J_dieresisbelowcomb</string>
    <string>J_macroncomb</string>
    <string>Jcircumflex</string>
  </array>
  <key>public.kern2._L_uc_O_2ND</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>G</string>
    <string>G_dieresisbelowcomb</string>
    <string>G_dotbelowcomb</string>
    <string>G_macronbelowcomb</string>
    <string>G_macronbelowcomb_H_macronbelowcomb</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Omacron_brevecomb</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>Q</string>
  </array>
  <key>public.kern2._L_uc_S_2ND</key>
  <array>
    <string>S</string>
    <string>S_dieresisbelowcomb</string>
    <string>S_macronbelowcomb</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
    <string>Sdotbelow</string>
  </array>
  <key>public.kern2._L_uc_T_2ND</key>
  <array>
    <string>T</string>
    <string>T_dieresisbelowcomb</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
    <string>Tdotbelow</string>
    <string>Tlinebelow</string>
  </array>
  <key>public.kern2._L_uc_U_2ND</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Umacron_acutecomb</string>
    <string>Umacron_brevecomb</string>
    <string>Umacron_gravecomb</string>
    <string>Umacron_tildecomb</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
  </array>
  <key>public.kern2._L_uc_V_2ND</key>
  <array>
    <string>V</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2._L_uc_X_2ND</key>
  <array>
    <string>X</string>
  </array>
  <key>public.kern2._L_uc_Y_2ND</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ydotaccent</string>
    <string>Ygrave</string>
  </array>
  <key>public.kern2._L_uc_Z_2ND</key>
  <array>
    <string>Z</string>
    <string>Z_dieresisbelowcomb</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Zdotbelow</string>
    <string>Zlinebelow</string>
  </array>
  <key>public.kern2._punc_exclam_2ND</key>
  <array>
    <string>exclam</string>
  </array>
  <key>public.kern2._punc_guillemotleft_2ND</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern2._punc_guillemotright_2ND</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern2._punc_hyphen_2ND</key>
  <array>
    <string>emdash</string>
    <string>endash</string>
    <string>hyphen</string>
  </array>
  <key>public.kern2._punc_parenright_2ND</key>
  <array>
    <string>braceright</string>
    <string>bracketright</string>
    <string>parenright</string>
  </array>
  <key>public.kern2._punc_period_2ND</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
  </array>
  <key>public.kern2._punc_question_2ND</key>
  <array>
    <string>question</string>
  </array>
  <key>public.kern2._punc_quoteleft_2ND</key>
  <array>
    <string>halfringleft</string>
    <string>quotedblleft</string>
    <string>quotedblleftreversed</string>
    <string>quoteleft</string>
    <string>quotereversed</string>
  </array>
  <key>public.kern2._punc_quoteright_2ND</key>
  <array>
    <string>halfringright</string>
    <string>quotedbl</string>
    <string>quotedblright</string>
    <string>quoteright</string>
    <string>quotesingle</string>
  </array>
</dict>
</plist>
