<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Germandbls</key>
  <dict>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>-5</integer>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._L_uc_V_2ND</key>
    <integer>-15</integer>
    <key>public.kern2._L_uc_Z_2ND</key>
    <integer>-5</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-30</integer>
  </dict>
  <key>Q</key>
  <dict>
    <key>braceright</key>
    <integer>150</integer>
    <key>bracketright</key>
    <integer>150</integer>
    <key>florin</key>
    <integer>140</integer>
    <key>public.kern2._L_subs_BOTH</key>
    <integer>140</integer>
  </dict>
  <key>ampersand</key>
  <dict>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>20</integer>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>-35</integer>
    <key>public.kern2._L_uc_V_2ND</key>
    <integer>-40</integer>
    <key>public.kern2._L_uc_Y_2ND</key>
    <integer>-40</integer>
  </dict>
  <key>eight</key>
  <dict>
    <key>five</key>
    <integer>-5</integer>
  </dict>
  <key>five</key>
  <dict>
    <key>five</key>
    <integer>-10</integer>
    <key>three</key>
    <integer>-10</integer>
  </dict>
  <key>five.numr</key>
  <dict>
    <key>fraction</key>
    <integer>-10</integer>
  </dict>
  <key>florin</key>
  <dict>
    <key>asterisk</key>
    <integer>110</integer>
    <key>backslash</key>
    <integer>130</integer>
    <key>bar</key>
    <integer>60</integer>
    <key>brokenbar</key>
    <integer>60</integer>
    <key>florin</key>
    <integer>45</integer>
    <key>quotedblleftreversed</key>
    <integer>120</integer>
    <key>quotereversed</key>
    <integer>120</integer>
    <key>registered</key>
    <integer>100</integer>
    <key>space</key>
    <integer>40</integer>
    <key>trademark</key>
    <integer>130</integer>
    <key>public.kern2._L_sups_2ND</key>
    <integer>145</integer>
    <key>public.kern2._punc_exclam_2ND</key>
    <integer>70</integer>
    <key>public.kern2._punc_guillemotright_2ND</key>
    <integer>20</integer>
    <key>public.kern2._punc_parenright_2ND</key>
    <integer>65</integer>
    <key>public.kern2._punc_question_2ND</key>
    <integer>80</integer>
    <key>public.kern2._punc_quoteright_2ND</key>
    <integer>125</integer>
  </dict>
  <key>four.dnom</key>
  <dict>
    <key>seven.dnom</key>
    <integer>-10</integer>
  </dict>
  <key>four.numr</key>
  <dict>
    <key>seven.numr</key>
    <integer>-10</integer>
  </dict>
  <key>fourinferior</key>
  <dict>
    <key>nineinferior</key>
    <integer>-5</integer>
    <key>seveninferior</key>
    <integer>-15</integer>
  </dict>
  <key>foursuperior</key>
  <dict>
    <key>ninesuperior</key>
    <integer>-5</integer>
    <key>sevensuperior</key>
    <integer>-15</integer>
  </dict>
  <key>fraction</key>
  <dict>
    <key>eight.dnom</key>
    <integer>-10</integer>
    <key>five.dnom</key>
    <integer>-10</integer>
    <key>four.dnom</key>
    <integer>-60</integer>
    <key>nine.dnom</key>
    <integer>-5</integer>
    <key>seven.dnom</key>
    <integer>10</integer>
    <key>six.dnom</key>
    <integer>-35</integer>
    <key>two.dnom</key>
    <integer>-10</integer>
    <key>zero.dnom</key>
    <integer>-25</integer>
  </dict>
  <key>guillemotleft</key>
  <dict>
    <key>public.kern2._L_uc_X_2ND</key>
    <integer>-10</integer>
  </dict>
  <key>guilsinglleft</key>
  <dict>
    <key>public.kern2._L_uc_X_2ND</key>
    <integer>-10</integer>
  </dict>
  <key>halfringright</key>
  <dict>
    <key>florin</key>
    <integer>-20</integer>
  </dict>
  <key>nine</key>
  <dict>
    <key>five</key>
    <integer>-5</integer>
    <key>three</key>
    <integer>-10</integer>
    <key>two</key>
    <integer>-10</integer>
  </dict>
  <key>nine.numr</key>
  <dict>
    <key>fraction</key>
    <integer>-35</integer>
  </dict>
  <key>nineinferior</key>
  <dict>
    <key>fiveinferior</key>
    <integer>-5</integer>
    <key>threeinferior</key>
    <integer>-5</integer>
    <key>twoinferior</key>
    <integer>-10</integer>
  </dict>
  <key>ninesuperior</key>
  <dict>
    <key>fivesuperior</key>
    <integer>-5</integer>
    <key>threesuperior</key>
    <integer>-5</integer>
    <key>twosuperior</key>
    <integer>-10</integer>
  </dict>
  <key>one</key>
  <dict>
    <key>four</key>
    <integer>-15</integer>
  </dict>
  <key>one.numr</key>
  <dict>
    <key>fraction</key>
    <integer>20</integer>
  </dict>
  <key>oneinferior</key>
  <dict>
    <key>fourinferior</key>
    <integer>-10</integer>
  </dict>
  <key>onesuperior</key>
  <dict>
    <key>foursuperior</key>
    <integer>-10</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>eight</key>
    <integer>-25</integer>
    <key>five</key>
    <integer>-40</integer>
    <key>four</key>
    <integer>-80</integer>
    <key>six</key>
    <integer>-50</integer>
    <key>three</key>
    <integer>-10</integer>
    <key>zero</key>
    <integer>-25</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-70</integer>
  </dict>
  <key>seven.dnom</key>
  <dict>
    <key>eight.dnom</key>
    <integer>-5</integer>
    <key>five.dnom</key>
    <integer>-10</integer>
    <key>four.dnom</key>
    <integer>-25</integer>
    <key>seven.dnom</key>
    <integer>5</integer>
    <key>six.dnom</key>
    <integer>-15</integer>
    <key>zero.dnom</key>
    <integer>-10</integer>
  </dict>
  <key>seven.numr</key>
  <dict>
    <key>eight.numr</key>
    <integer>-5</integer>
    <key>five.numr</key>
    <integer>-10</integer>
    <key>four.numr</key>
    <integer>-25</integer>
    <key>fraction</key>
    <integer>-30</integer>
    <key>seven.numr</key>
    <integer>5</integer>
    <key>six.numr</key>
    <integer>-15</integer>
    <key>zero.numr</key>
    <integer>-10</integer>
  </dict>
  <key>seveninferior</key>
  <dict>
    <key>eightinferior</key>
    <integer>-10</integer>
    <key>fiveinferior</key>
    <integer>-20</integer>
    <key>fourinferior</key>
    <integer>-40</integer>
    <key>nineinferior</key>
    <integer>-15</integer>
    <key>oneinferior</key>
    <integer>-5</integer>
    <key>seveninferior</key>
    <integer>-5</integer>
    <key>sixinferior</key>
    <integer>-30</integer>
    <key>threeinferior</key>
    <integer>-10</integer>
    <key>twoinferior</key>
    <integer>-10</integer>
  </dict>
  <key>sevensuperior</key>
  <dict>
    <key>eightsuperior</key>
    <integer>-10</integer>
    <key>fivesuperior</key>
    <integer>-20</integer>
    <key>foursuperior</key>
    <integer>-40</integer>
    <key>ninesuperior</key>
    <integer>-15</integer>
    <key>onesuperior</key>
    <integer>-5</integer>
    <key>sevensuperior</key>
    <integer>-5</integer>
    <key>sixsuperior</key>
    <integer>-30</integer>
    <key>threesuperior</key>
    <integer>-10</integer>
    <key>twosuperior</key>
    <integer>-10</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>nine</key>
    <integer>-15</integer>
    <key>seven</key>
    <integer>-15</integer>
  </dict>
  <key>six.numr</key>
  <dict>
    <key>fraction</key>
    <integer>-10</integer>
  </dict>
  <key>sixinferior</key>
  <dict>
    <key>nineinferior</key>
    <integer>-10</integer>
    <key>seveninferior</key>
    <integer>-5</integer>
  </dict>
  <key>sixsuperior</key>
  <dict>
    <key>ninesuperior</key>
    <integer>-10</integer>
    <key>sevensuperior</key>
    <integer>-5</integer>
  </dict>
  <key>space</key>
  <dict>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>-15</integer>
  </dict>
  <key>three</key>
  <dict>
    <key>five</key>
    <integer>-5</integer>
    <key>seven</key>
    <integer>-15</integer>
    <key>three</key>
    <integer>-10</integer>
  </dict>
  <key>three.numr</key>
  <dict>
    <key>fraction</key>
    <integer>-10</integer>
  </dict>
  <key>two</key>
  <dict>
    <key>seven</key>
    <integer>-5</integer>
  </dict>
  <key>zero</key>
  <dict>
    <key>two</key>
    <integer>-5</integer>
  </dict>
  <key>zero.numr</key>
  <dict>
    <key>fraction</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1._L_subs_BOTH</key>
  <dict>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>50</integer>
    <key>public.kern2._L_uc_J_2ND</key>
    <integer>100</integer>
    <key>public.kern2._L_uc_O_2ND</key>
    <integer>-30</integer>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>-40</integer>
    <key>public.kern2._L_uc_U_2ND</key>
    <integer>-30</integer>
    <key>public.kern2._L_uc_V_2ND</key>
    <integer>-50</integer>
    <key>public.kern2._L_uc_X_2ND</key>
    <integer>35</integer>
    <key>public.kern2._L_uc_Y_2ND</key>
    <integer>-40</integer>
    <key>public.kern2._L_uc_Z_2ND</key>
    <integer>10</integer>
  </dict>
  <key>public.kern1._L_uc_A_1ST</key>
  <dict>
    <key>asterisk</key>
    <integer>-70</integer>
    <key>registered</key>
    <integer>-70</integer>
    <key>trademark</key>
    <integer>-70</integer>
    <key>public.kern2._L_subs_BOTH</key>
    <integer>50</integer>
    <key>public.kern2._L_sups_2ND</key>
    <integer>-50</integer>
    <key>public.kern2._L_uc_O_2ND</key>
    <integer>-15</integer>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>-55</integer>
    <key>public.kern2._L_uc_U_2ND</key>
    <integer>-45</integer>
    <key>public.kern2._L_uc_V_2ND</key>
    <integer>-65</integer>
    <key>public.kern2._L_uc_Y_2ND</key>
    <integer>-60</integer>
    <key>public.kern2._punc_guillemotleft_2ND</key>
    <integer>-20</integer>
    <key>public.kern2._punc_hyphen_2ND</key>
    <integer>-20</integer>
    <key>public.kern2._punc_quoteleft_2ND</key>
    <integer>-70</integer>
    <key>public.kern2._punc_quoteright_2ND</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1._L_uc_B_1ST</key>
  <dict>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._L_uc_V_2ND</key>
    <integer>-30</integer>
    <key>public.kern2._L_uc_X_2ND</key>
    <integer>-25</integer>
    <key>public.kern2._L_uc_Y_2ND</key>
    <integer>-25</integer>
    <key>public.kern2._L_uc_Z_2ND</key>
    <integer>-5</integer>
    <key>public.kern2._punc_hyphen_2ND</key>
    <integer>20</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1._L_uc_C_1ST</key>
  <dict>
    <key>public.kern2._punc_quoteleft_2ND</key>
    <integer>15</integer>
    <key>public.kern2._punc_quoteright_2ND</key>
    <integer>15</integer>
  </dict>
  <key>public.kern1._L_uc_F_1ST</key>
  <dict>
    <key>ampersand</key>
    <integer>-25</integer>
    <key>asterisk</key>
    <integer>20</integer>
    <key>registered</key>
    <integer>20</integer>
    <key>trademark</key>
    <integer>20</integer>
    <key>public.kern2._L_subs_BOTH</key>
    <integer>-50</integer>
    <key>public.kern2._L_sups_2ND</key>
    <integer>40</integer>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>-70</integer>
    <key>public.kern2._L_uc_S_2ND</key>
    <integer>-5</integer>
    <key>public.kern2._L_uc_Z_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._punc_guillemotleft_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._punc_hyphen_2ND</key>
    <integer>-30</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-115</integer>
    <key>public.kern2._punc_quoteleft_2ND</key>
    <integer>40</integer>
    <key>public.kern2._punc_quoteright_2ND</key>
    <integer>25</integer>
  </dict>
  <key>public.kern1._L_uc_G_1ST</key>
  <dict>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>-15</integer>
    <key>public.kern2._L_uc_V_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._L_uc_Y_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._punc_hyphen_2ND</key>
    <integer>20</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1._L_uc_J_1ST</key>
  <dict>
    <key>colon</key>
    <integer>-20</integer>
    <key>semicolon</key>
    <integer>-10</integer>
    <key>public.kern2._L_sups_2ND</key>
    <integer>20</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-40</integer>
    <key>public.kern2._punc_quoteleft_2ND</key>
    <integer>15</integer>
    <key>public.kern2._punc_quoteright_2ND</key>
    <integer>10</integer>
  </dict>
  <key>public.kern1._L_uc_K_1ST</key>
  <dict>
    <key>colon</key>
    <integer>20</integer>
    <key>semicolon</key>
    <integer>20</integer>
    <key>public.kern2._L_subs_BOTH</key>
    <integer>25</integer>
    <key>public.kern2._L_uc_O_2ND</key>
    <integer>-35</integer>
    <key>public.kern2._punc_exclam_2ND</key>
    <integer>20</integer>
    <key>public.kern2._punc_guillemotleft_2ND</key>
    <integer>-30</integer>
    <key>public.kern2._punc_hyphen_2ND</key>
    <integer>-40</integer>
    <key>public.kern2._punc_parenright_2ND</key>
    <integer>20</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>25</integer>
    <key>public.kern2._punc_quoteleft_2ND</key>
    <integer>15</integer>
    <key>public.kern2._punc_quoteright_2ND</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1._L_uc_L_1ST</key>
  <dict>
    <key>ampersand</key>
    <integer>10</integer>
    <key>asterisk</key>
    <integer>-40</integer>
    <key>registered</key>
    <integer>-40</integer>
    <key>trademark</key>
    <integer>-40</integer>
    <key>public.kern2._L_subs_BOTH</key>
    <integer>25</integer>
    <key>public.kern2._L_sups_2ND</key>
    <integer>-20</integer>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>20</integer>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>-65</integer>
    <key>public.kern2._L_uc_U_2ND</key>
    <integer>-25</integer>
    <key>public.kern2._L_uc_V_2ND</key>
    <integer>-70</integer>
    <key>public.kern2._L_uc_Y_2ND</key>
    <integer>-65</integer>
    <key>public.kern2._punc_exclam_2ND</key>
    <integer>15</integer>
    <key>public.kern2._punc_parenright_2ND</key>
    <integer>10</integer>
    <key>public.kern2._punc_quoteleft_2ND</key>
    <integer>-40</integer>
    <key>public.kern2._punc_quoteright_2ND</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1._L_uc_N_1ST</key>
  <dict>
    <key>colon</key>
    <integer>-20</integer>
    <key>semicolon</key>
    <integer>-20</integer>
    <key>public.kern2._L_sups_2ND</key>
    <integer>15</integer>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1._L_uc_O_1ST</key>
  <dict>
    <key>public.kern2._L_subs_BOTH</key>
    <integer>-30</integer>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>-20</integer>
    <key>public.kern2._L_uc_J_2ND</key>
    <integer>65</integer>
    <key>public.kern2._L_uc_V_2ND</key>
    <integer>-15</integer>
    <key>public.kern2._L_uc_X_2ND</key>
    <integer>-25</integer>
    <key>public.kern2._L_uc_Y_2ND</key>
    <integer>-20</integer>
    <key>public.kern2._L_uc_Z_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._punc_hyphen_2ND</key>
    <integer>40</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-55</integer>
  </dict>
  <key>public.kern1._L_uc_P_1ST</key>
  <dict>
    <key>ampersand</key>
    <integer>-20</integer>
    <key>asterisk</key>
    <integer>20</integer>
    <key>registered</key>
    <integer>20</integer>
    <key>trademark</key>
    <integer>20</integer>
    <key>public.kern2._L_subs_BOTH</key>
    <integer>-40</integer>
    <key>public.kern2._L_sups_2ND</key>
    <integer>30</integer>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>-65</integer>
    <key>public.kern2._L_uc_X_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._L_uc_Z_2ND</key>
    <integer>-15</integer>
    <key>public.kern2._punc_exclam_2ND</key>
    <integer>10</integer>
    <key>public.kern2._punc_hyphen_2ND</key>
    <integer>20</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-130</integer>
    <key>public.kern2._punc_quoteleft_2ND</key>
    <integer>35</integer>
    <key>public.kern2._punc_quoteright_2ND</key>
    <integer>30</integer>
  </dict>
  <key>public.kern1._L_uc_R_1ST</key>
  <dict>
    <key>asterisk</key>
    <integer>-40</integer>
    <key>colon</key>
    <integer>20</integer>
    <key>registered</key>
    <integer>-40</integer>
    <key>semicolon</key>
    <integer>20</integer>
    <key>trademark</key>
    <integer>-40</integer>
    <key>public.kern2._L_subs_BOTH</key>
    <integer>45</integer>
    <key>public.kern2._L_sups_2ND</key>
    <integer>-30</integer>
    <key>public.kern2._L_uc_O_2ND</key>
    <integer>-15</integer>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>-40</integer>
    <key>public.kern2._L_uc_U_2ND</key>
    <integer>-45</integer>
    <key>public.kern2._L_uc_V_2ND</key>
    <integer>-70</integer>
    <key>public.kern2._L_uc_Y_2ND</key>
    <integer>-55</integer>
    <key>public.kern2._punc_exclam_2ND</key>
    <integer>15</integer>
    <key>public.kern2._punc_guillemotleft_2ND</key>
    <integer>-15</integer>
    <key>public.kern2._punc_hyphen_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>25</integer>
    <key>public.kern2._punc_quoteleft_2ND</key>
    <integer>-35</integer>
    <key>public.kern2._punc_quoteright_2ND</key>
    <integer>-45</integer>
  </dict>
  <key>public.kern1._L_uc_S_1ST</key>
  <dict>
    <key>public.kern2._L_subs_BOTH</key>
    <integer>-10</integer>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._L_uc_S_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>-20</integer>
    <key>public.kern2._L_uc_Z_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._punc_hyphen_2ND</key>
    <integer>20</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1._L_uc_T_1ST</key>
  <dict>
    <key>ampersand</key>
    <integer>-20</integer>
    <key>asterisk</key>
    <integer>20</integer>
    <key>colon</key>
    <integer>-20</integer>
    <key>semicolon</key>
    <integer>-20</integer>
    <key>space</key>
    <integer>-15</integer>
    <key>public.kern2._L_subs_BOTH</key>
    <integer>-40</integer>
    <key>public.kern2._L_sups_2ND</key>
    <integer>40</integer>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>-60</integer>
    <key>public.kern2._L_uc_Z_2ND</key>
    <integer>-15</integer>
    <key>public.kern2._punc_guillemotleft_2ND</key>
    <integer>-50</integer>
    <key>public.kern2._punc_guillemotright_2ND</key>
    <integer>-20</integer>
    <key>public.kern2._punc_hyphen_2ND</key>
    <integer>-60</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-105</integer>
    <key>public.kern2._punc_quoteleft_2ND</key>
    <integer>40</integer>
    <key>public.kern2._punc_quoteright_2ND</key>
    <integer>35</integer>
  </dict>
  <key>public.kern1._L_uc_Thorn_1ST</key>
  <dict>
    <key>public.kern2._L_subs_BOTH</key>
    <integer>-15</integer>
    <key>public.kern2._punc_hyphen_2ND</key>
    <integer>40</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-80</integer>
    <key>public.kern2._punc_quoteright_2ND</key>
    <integer>10</integer>
  </dict>
  <key>public.kern1._L_uc_U_1ST</key>
  <dict>
    <key>public.kern2._L_subs_BOTH</key>
    <integer>-30</integer>
    <key>public.kern2._L_sups_2ND</key>
    <integer>15</integer>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>-50</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1._L_uc_V_1ST</key>
  <dict>
    <key>ampersand</key>
    <integer>-20</integer>
    <key>asterisk</key>
    <integer>20</integer>
    <key>colon</key>
    <integer>-40</integer>
    <key>semicolon</key>
    <integer>-40</integer>
    <key>space</key>
    <integer>-10</integer>
    <key>trademark</key>
    <integer>40</integer>
    <key>public.kern2._L_subs_BOTH</key>
    <integer>-40</integer>
    <key>public.kern2._L_sups_2ND</key>
    <integer>70</integer>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>-70</integer>
    <key>public.kern2._L_uc_O_2ND</key>
    <integer>-20</integer>
    <key>public.kern2._punc_guillemotleft_2ND</key>
    <integer>-15</integer>
    <key>public.kern2._punc_guillemotright_2ND</key>
    <integer>-25</integer>
    <key>public.kern2._punc_hyphen_2ND</key>
    <integer>-30</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-110</integer>
    <key>public.kern2._punc_quoteleft_2ND</key>
    <integer>35</integer>
    <key>public.kern2._punc_quoteright_2ND</key>
    <integer>45</integer>
  </dict>
  <key>public.kern1._L_uc_X_1ST</key>
  <dict>
    <key>guillemotright</key>
    <integer>-10</integer>
    <key>guilsinglright</key>
    <integer>-10</integer>
    <key>public.kern2._L_subs_BOTH</key>
    <integer>20</integer>
    <key>public.kern2._L_sups_2ND</key>
    <integer>30</integer>
    <key>public.kern2._L_uc_O_2ND</key>
    <integer>-30</integer>
    <key>public.kern2._punc_guillemotleft_2ND</key>
    <integer>-20</integer>
    <key>public.kern2._punc_hyphen_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._punc_quoteright_2ND</key>
    <integer>10</integer>
  </dict>
  <key>public.kern1._L_uc_Y_1ST</key>
  <dict>
    <key>ampersand</key>
    <integer>-25</integer>
    <key>asterisk</key>
    <integer>20</integer>
    <key>colon</key>
    <integer>-50</integer>
    <key>semicolon</key>
    <integer>-50</integer>
    <key>space</key>
    <integer>-10</integer>
    <key>trademark</key>
    <integer>40</integer>
    <key>public.kern2._L_subs_BOTH</key>
    <integer>-40</integer>
    <key>public.kern2._L_sups_2ND</key>
    <integer>70</integer>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>-65</integer>
    <key>public.kern2._L_uc_O_2ND</key>
    <integer>-30</integer>
    <key>public.kern2._L_uc_S_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._punc_guillemotleft_2ND</key>
    <integer>-30</integer>
    <key>public.kern2._punc_guillemotright_2ND</key>
    <integer>-15</integer>
    <key>public.kern2._punc_hyphen_2ND</key>
    <integer>-45</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-95</integer>
    <key>public.kern2._punc_quoteleft_2ND</key>
    <integer>20</integer>
    <key>public.kern2._punc_quoteright_2ND</key>
    <integer>50</integer>
  </dict>
  <key>public.kern1._L_uc_Z_1ST</key>
  <dict>
    <key>public.kern2._L_uc_O_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._L_uc_S_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>-15</integer>
    <key>public.kern2._L_uc_U_2ND</key>
    <integer>-5</integer>
    <key>public.kern2._L_uc_Z_2ND</key>
    <integer>-10</integer>
    <key>public.kern2._punc_hyphen_2ND</key>
    <integer>10</integer>
  </dict>
  <key>public.kern1._punc_guillemotleft_1ST</key>
  <dict>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>-20</integer>
    <key>public.kern2._L_uc_V_2ND</key>
    <integer>-25</integer>
    <key>public.kern2._L_uc_Y_2ND</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1._punc_guillemotright_1ST</key>
  <dict>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>-20</integer>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>-50</integer>
    <key>public.kern2._L_uc_V_2ND</key>
    <integer>-15</integer>
    <key>public.kern2._L_uc_X_2ND</key>
    <integer>-20</integer>
    <key>public.kern2._L_uc_Y_2ND</key>
    <integer>-30</integer>
    <key>public.kern2._L_uc_Z_2ND</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1._punc_hyphen_1ST</key>
  <dict>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>-20</integer>
    <key>public.kern2._L_uc_O_2ND</key>
    <integer>40</integer>
    <key>public.kern2._L_uc_S_2ND</key>
    <integer>10</integer>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>-60</integer>
    <key>public.kern2._L_uc_V_2ND</key>
    <integer>-30</integer>
    <key>public.kern2._L_uc_X_2ND</key>
    <integer>-30</integer>
    <key>public.kern2._L_uc_Y_2ND</key>
    <integer>-45</integer>
    <key>public.kern2._L_uc_Z_2ND</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1._punc_parenleft_1ST</key>
  <dict>
    <key>florin</key>
    <integer>35</integer>
    <key>public.kern2._L_uc_J_2ND</key>
    <integer>30</integer>
  </dict>
  <key>public.kern1._punc_period_1ST</key>
  <dict>
    <key>seven</key>
    <integer>-45</integer>
    <key>public.kern2._punc_quoteleft_2ND</key>
    <integer>-80</integer>
    <key>public.kern2._punc_quoteright_2ND</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1._punc_quotebase_1ST</key>
  <dict>
    <key>florin</key>
    <integer>20</integer>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>35</integer>
    <key>public.kern2._L_uc_J_2ND</key>
    <integer>30</integer>
    <key>public.kern2._L_uc_O_2ND</key>
    <integer>-40</integer>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>-80</integer>
    <key>public.kern2._L_uc_U_2ND</key>
    <integer>-50</integer>
    <key>public.kern2._L_uc_V_2ND</key>
    <integer>-85</integer>
    <key>public.kern2._L_uc_X_2ND</key>
    <integer>30</integer>
    <key>public.kern2._L_uc_Y_2ND</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1._punc_quoteleft_1ST</key>
  <dict>
    <key>florin</key>
    <integer>10</integer>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>-75</integer>
    <key>public.kern2._L_uc_T_2ND</key>
    <integer>35</integer>
    <key>public.kern2._L_uc_V_2ND</key>
    <integer>40</integer>
    <key>public.kern2._L_uc_X_2ND</key>
    <integer>10</integer>
    <key>public.kern2._L_uc_Y_2ND</key>
    <integer>40</integer>
  </dict>
  <key>public.kern1._punc_quoteright_1ST</key>
  <dict>
    <key>public.kern2._L_uc_A_2ND</key>
    <integer>-80</integer>
    <key>public.kern2._L_uc_V_2ND</key>
    <integer>10</integer>
    <key>public.kern2._punc_period_2ND</key>
    <integer>-125</integer>
  </dict>
</dict>
</plist>
